

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Images</h2>
    

    <h3 class="theme-title">Stock Prices:</h3>
    <img src="{{ url_for('static', filename='pinsVmeta.png') }}" alt="Pinterest vs Meta" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Stock_prices_of_Meta_and_Pinterest.png') }}" alt="Stock prices of Meta and Pinterest" style="max-width:100%;height:auto;">

<h3 class="theme-title">Volatility:</h3>
    <img src="{{ url_for('static', filename='Bubble_Chart_Of_Volatility_for_Social_Media_Platforms.png') }}" alt="Bubble Chart Of Volatility for Social Media Platforms" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Market_Volatility_Of_Social_Media_Platforms.png') }}" alt="Market Volatility Of Social Media Platforms" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Market_Volatility_Social_Media_Platforms.png') }}" alt="Market Volatility Social Media Platforms" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Volatility_of_Social_Media_Platforms_with_Error_Bars.png') }}" alt="Volatility of Social Media Platforms with Error Bars" style="max-width:100%;height:auto;">

<h3 class="theme-title">Profit:</h3>
    <img src="{{ url_for('static', filename='MeanValues.png') }}" alt="Mean Values" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='RevnueOperatingProfit.png') }}" alt="Revenue Operating Profit" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='SocialMediaUsersInMillions.png') }}" alt="Social Media Users In Millions" style="max-width:100%;height:auto;">

<h3 class="theme-title">Correlation:</h3>
    <img src="{{ url_for('static', filename='HeatmapGlobal.png') }}" alt="Heatmap Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Impact_of_new_platforms_on_existing_platforms_global.png') }}" alt="Impact of new platforms on existing platforms global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='Impact_US.png') }}" alt="Impact US" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='US Heatmap (1).jpg') }}" alt="US Heatmap" style="max-width:100%;height:auto;">

<h3 class="theme-title">Popularity:</h3>
    <img src="{{ url_for('static', filename='PinterestUSFacebookGlobal.png') }}" alt="Pinterest US vs Facebook Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='FacebokUSFeacebookGlobal.png') }}" alt="Facebook US vs Facebook Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='FacebookUSvInstagramgloabl.png') }}" alt="Facebook US vs Instagram Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='FacebookUSvsLinkedlnGlobal.png') }}" alt="Facebook US vs LinkedIn Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='LinkedlnUSvGOOgleGlobal.png') }}" alt="LinkedIn US vs Google Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='LinkedlnUSvLinkedlnGlobal.png') }}" alt="LinkedIn US vs LinkedIn Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='LinkedlnUSvVimeoGlobal.png') }}" alt="LinkedIn US vs Vimeo Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='PinterestUSvPinterestGLobal.png') }}" alt="Pinterest US vs Pinterest Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='PinterestVGooglePlus.png') }}" alt="Pinterest vs Google Plus" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='TwitterUSvsLInkedlnGlobal.png') }}" alt="Twitter US vs LinkedIn Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='TwitterUSvsTwitterGlobal.png') }}" alt="Twitter US vs Twitter Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='YoutubeUSvTwitterGlobal.png') }}" alt="Youtube US vs Twitter Global" style="max-width:100%;height:auto;">
    <img src="{{ url_for('static', filename='YoutubeUSvYouTubeGlobal.png') }}" alt="Youtube US vs YouTube Global" style="max-width:100%;height:auto;">
</body>
</html>
